In [1]:
import pandas as pd

In [2]:
rt = pd.read_csv('./data/combined_data.csv')
rt.head()

   state       date   Rt_mean  Rt_median  Re_price  CPI_1mo  CPI_12mo  Ur_rate
0  Maine  3/31/2020  0.994578   0.995254    250383   -0.020     0.017    0.031
1  Maine  4/30/2020  1.069958   1.067870    252441   -0.004     0.008    0.091
2  Maine  5/31/2020  0.945661   0.946022    254209    0.000     0.006    0.083
3  Maine  6/30/2020  0.922169   0.921079    255653    0.003     0.008    0.053
4  Maine  7/31/2020  1.042731   1.039024    257305    0.004     0.011    0.088

In [3]:
rt = rt.fillna(0)
rt.head()

   state       date   Rt_mean  Rt_median  Re_price  CPI_1mo  CPI_12mo  Ur_rate
0  Maine  3/31/2020  0.994578   0.995254    250383   -0.020     0.017    0.031
1  Maine  4/30/2020  1.069958   1.067870    252441   -0.004     0.008    0.091
2  Maine  5/31/2020  0.945661   0.946022    254209    0.000     0.006    0.083
3  Maine  6/30/2020  0.922169   0.921079    255653    0.003     0.008    0.053
4  Maine  7/31/2020  1.042731   1.039024    257305    0.004     0.011    0.088

In [4]:
res = pd.DataFrame()

regions = list(rt.state.unique())
dates = list(rt.date.unique())
for i, date in enumerate(dates):
    for j, region in enumerate(regions):
        curr = rt[rt['date'] == date].reset_index(drop=True)
        curr = curr[curr['state'] == region]
        if len(curr) == 0: 
            values = [0] * len(curr.columns)
            values[0], values[1] = region, date
            columns = list(curr.columns.values)
            curr = pd.DataFrame(data=[values], columns=columns)
        res = pd.concat([res, curr])
res['date'] = pd.to_datetime(res['date'])
res = res.sort_values(by=['date', 'state']).reset_index(drop=True)
res.head()

,state,date,Rt_mean,Rt_median,Re_price,CPI_1mo,CPI_12mo,Ur_rate
0,Alabama,2020-01-31,0.0,0.0,0,0.0,0.0,0.0
1,Alaska,2020-01-31,0.0,0.0,0,0.0,0.0,0.0
2,Arizona,2020-01-31,0.0,0.0,0,0.0,0.0,0.0
3,Arkansas,2020-01-31,0.0,0.0,0,0.0,0.0,0.0
4,California,2020-01-31,0.0,0.0,0,0.0,0.0,0.0

In [5]:
res.to_csv('./data/combined_data1.csv', index=False)