In [ ]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}
len(states)

In [2]:
import pandas as pd

In [4]:
rt = pd.read_csv('combined_data.csv')
rt.head()

   state   month   Rt_mean  Rt_median  Re_price  CPI_1mo  CPI_12mo  Ur_rate
0  Maine  20-Mar  0.994578   0.995254    250383   -0.020     0.017    0.031
1  Maine  20-Apr  1.069958   1.067870    252441   -0.004     0.008    0.091
2  Maine  20-May  0.945661   0.946022    254209    0.000     0.006    0.083
3  Maine  20-Jun  0.922169   0.921079    255653    0.003     0.008    0.053
4  Maine  20-Jul  1.042731   1.039024    257305    0.004     0.011    0.088

In [5]:
rt = rt.fillna(0)
rt.head()

   state   month   Rt_mean  Rt_median  Re_price  CPI_1mo  CPI_12mo  Ur_rate
0  Maine  20-Mar  0.994578   0.995254    250383   -0.020     0.017    0.031
1  Maine  20-Apr  1.069958   1.067870    252441   -0.004     0.008    0.091
2  Maine  20-May  0.945661   0.946022    254209    0.000     0.006    0.083
3  Maine  20-Jun  0.922169   0.921079    255653    0.003     0.008    0.053
4  Maine  20-Jul  1.042731   1.039024    257305    0.004     0.011    0.088

In [6]:
# for i in range(len(rt)):
#     rt['region'].iloc[i] = states[rt['region'].iloc[i]]
# rt.head()

In [15]:
res = pd.DataFrame()

regions = list(rt.state.unique())
dates = list(rt.month.unique())
for i, date in enumerate(dates):
    for j, region in enumerate(regions):
        curr = rt[rt['month'] == date].reset_index(drop=True)
        curr = curr[curr['state'] == region]
        if len(curr) == 0: 
            values = [0] * len(curr.columns)
            values[0], values[1] = region, date
            columns = list(curr.columns.values)
            curr = pd.DataFrame(data=[values], columns=columns)
        res = pd.concat([res, curr])
res['month'] = pd.to_datetime(res['month'], errors='ignore')
res = res.sort_values(by=['month', 'state']).reset_index(drop=True)
res.head(20)

,state,month,Rt_mean,Rt_median,Re_price,CPI_1mo,CPI_12mo,Ur_rate
0,Alabama,20-Apr,1.072537,1.072544,149271,-0.008,-0.002,0.132
1,Alaska,20-Apr,1.072381,1.069268,280924,-0.004,0.013,0.118
2,Arizona,20-Apr,1.023778,1.021945,277528,-0.004,0.013,0.142
3,Arkansas,20-Apr,1.155276,1.154687,133490,-0.008,-0.002,0.100
4,California,20-Apr,1.030216,1.030400,580068,-0.004,0.013,0.160
5,Colorado,20-Apr,0.873781,0.871472,413300,-0.004,0.013,0.121
6,Connecticut,20-Apr,0.774343,0.773741,261705,-0.004,0.008,0.086
7,Delaware,20-Apr,0.766032,0.764910,261135,-0.008,-0.002,0.134
8,District of Columbia,20-Apr,0.886347,0.882818,655735,-0.008,-0.002,0.111
9,Florida,20-Apr,0.922491,0.919874,252550,-0.008,-0.002,0.140
10,Georgia,20-Apr,0.894960,0.889970,210062,-0.008,-0.002,0.125
11,Hawaii,20-Apr,0.882421,0.879360,656212,-0.004,0.013,0.219
12,Idaho,20-Apr,1.025136,1.022818,302806,-0.004,0.013,0.116
13,Illinois,20-Apr,0.844828,0.842822,209374,-0.011,-0.004,0.165
14,Indiana,20-Apr,0.840317,0.841358,160616,-0.011,-0.004,0.169
15,Iowa,20-Apr,0.768233,0.768998,154736,-0.011,-0.004,0.111
16,Kansas,20-Apr,0.880029,0.879145,157069,-0.011,-0.004,0.126
17,Kentucky,20-Apr,1.006385,1.009816,151473,-0.008,-0.002,0.169
18,Louisiana,20-Apr,0.992064,0.989756,173453,-0.008,-0.002,0.131
19,Maine,20-Apr,1.069958,1.067870,252441,-0.004,0.008,0.091

In [16]:
res.to_csv('D:\\PSU\\15GA\\MyCourses\\CSE6242DVAProject\\CSE6242DVAProject\\visuals\\data\\rt.csv', index=False)

In [17]:
output = res.sort_values(by=['month', 'state']).reset_index(drop=True)
dates = list(output.month.unique())
for i, date in enumerate(dates):
    curr = output[output['month'] == date].reset_index(drop=True)
    curr.to_csv('D:\\PSU\\15GA\\MyCourses\\CSE6242DVAProject\\CSE6242DVAProject\\visuals\\data\\' + date + '.csv', index=False)