In [3]:
import pandas as pd

In [4]:
rt = pd.read_csv('rt.csv')
rt.head()

,date,region,index,mean,median,lower_80,upper_80,infections,test_adjusted_positive,test_adjusted_positive_raw,positive,tests,new_tests,new_cases,new_deaths
0,2020-03-02,ME,0,1.353815,1.347229,1.135023,1.538081,68.719357,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,2020-03-03,ME,1,1.347466,1.339570,1.127512,1.514020,0.666405,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,2020-03-04,ME,2,1.343113,1.336660,1.130994,1.502090,9.447788,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,2020-03-05,ME,3,1.338407,1.334258,1.129211,1.480786,17.922689,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,2020-03-06,ME,4,1.330090,1.329534,1.152407,1.486668,19.268179,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [5]:
rt = rt.fillna(0)
rt.head()

,date,region,index,mean,median,lower_80,upper_80,infections,test_adjusted_positive,test_adjusted_positive_raw,positive,tests,new_tests,new_cases,new_deaths
0,2020-03-02,ME,0,1.353815,1.347229,1.135023,1.538081,68.719357,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-03-03,ME,1,1.347466,1.339570,1.127512,1.514020,0.666405,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-03-04,ME,2,1.343113,1.336660,1.130994,1.502090,9.447788,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-03-05,ME,3,1.338407,1.334258,1.129211,1.480786,17.922689,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-03-06,ME,4,1.330090,1.329534,1.152407,1.486668,19.268179,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
states = {
        'AK': 'Alaska',
        'AL': 'Alabama',
        'AR': 'Arkansas',
        'AS': 'American Samoa',
        'AZ': 'Arizona',
        'CA': 'California',
        'CO': 'Colorado',
        'CT': 'Connecticut',
        'DC': 'District of Columbia',
        'DE': 'Delaware',
        'FL': 'Florida',
        'GA': 'Georgia',
        'GU': 'Guam',
        'HI': 'Hawaii',
        'IA': 'Iowa',
        'ID': 'Idaho',
        'IL': 'Illinois',
        'IN': 'Indiana',
        'KS': 'Kansas',
        'KY': 'Kentucky',
        'LA': 'Louisiana',
        'MA': 'Massachusetts',
        'MD': 'Maryland',
        'ME': 'Maine',
        'MI': 'Michigan',
        'MN': 'Minnesota',
        'MO': 'Missouri',
        'MP': 'Northern Mariana Islands',
        'MS': 'Mississippi',
        'MT': 'Montana',
        'NA': 'National',
        'NC': 'North Carolina',
        'ND': 'North Dakota',
        'NE': 'Nebraska',
        'NH': 'New Hampshire',
        'NJ': 'New Jersey',
        'NM': 'New Mexico',
        'NV': 'Nevada',
        'NY': 'New York',
        'OH': 'Ohio',
        'OK': 'Oklahoma',
        'OR': 'Oregon',
        'PA': 'Pennsylvania',
        'PR': 'Puerto Rico',
        'RI': 'Rhode Island',
        'SC': 'South Carolina',
        'SD': 'South Dakota',
        'TN': 'Tennessee',
        'TX': 'Texas',
        'UT': 'Utah',
        'VA': 'Virginia',
        'VI': 'Virgin Islands',
        'VT': 'Vermont',
        'WA': 'Washington',
        'WI': 'Wisconsin',
        'WV': 'West Virginia',
        'WY': 'Wyoming'
}
len(states)

57

In [7]:
for i in range(len(rt)):
    rt['region'].iloc[i] = states[rt['region'].iloc[i]]
rt.head()

D:\LANGUAGE\Anaconda\lib\site-packages\pandas\core\indexing.py:1637: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

,date,region,index,mean,median,lower_80,upper_80,infections,test_adjusted_positive,test_adjusted_positive_raw,positive,tests,new_tests,new_cases,new_deaths
0,2020-03-02,Maine,0,1.353815,1.347229,1.135023,1.538081,68.719357,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-03-03,Maine,1,1.347466,1.339570,1.127512,1.514020,0.666405,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-03-04,Maine,2,1.343113,1.336660,1.130994,1.502090,9.447788,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-03-05,Maine,3,1.338407,1.334258,1.129211,1.480786,17.922689,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-03-06,Maine,4,1.330090,1.329534,1.152407,1.486668,19.268179,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
res = pd.DataFrame()

regions = list(rt.region.unique())
dates = list(rt.date.unique())
for i, date in enumerate(dates):
    for j, region in enumerate(regions):
        curr = rt[rt['date'] == date].reset_index(drop=True)
        curr = curr[curr['region'] == region]
        if len(curr) == 0: 
            values = [0] * len(curr.columns)
            values[0], values[1] = date, region
            columns = list(curr.columns.values)
            curr = pd.DataFrame(data=[values], columns=columns)
        res = pd.concat([res, curr])
        
res.head()

,date,region,index,mean,median,lower_80,upper_80,infections,test_adjusted_positive,test_adjusted_positive_raw,positive,tests,new_tests,new_cases,new_deaths
0,2020-03-02,Maine,0,1.353815,1.347229,1.135023,1.538081,68.719357,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
1,2020-03-02,New Hampshire,4,1.763789,1.747925,1.467296,1.989374,7.187283,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-03-02,Vermont,0,1.711229,1.705026,1.429593,1.914113,51.197302,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
0,2020-03-02,Massachusetts,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-03-02,Rhode Island,7,2.492026,2.488163,2.192134,2.783616,4.164836,0.461138,0.0,0.0,0.0,4.0,0.0,0.0

In [9]:
res.sort_values(by=['date', 'region']).reset_index(drop=True).to_csv('D:\\PSU\\15GA\\MyCourses\\CSE6242DVAProject\\CSE6242DVAProject\\visuals\\data\\rt.csv', index=False)

In [10]:
output = res.sort_values(by=['date', 'region']).reset_index(drop=True)
dates = list(output.date.unique())
for i, date in enumerate(dates):
    curr = output[output['date'] == date].reset_index(drop=True)
    curr.to_csv('D:\\PSU\\15GA\\MyCourses\\CSE6242DVAProject\\CSE6242DVAProject\\visuals\\data\\' + date + '.csv', index=False)